<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>WhisperDesktopDictate</string>
    <key>CFBundleIdentifier</key>
    <string>net.joesvolcano.WhisperDesktopDictate</string>
    <key>CFBundleName</key>
    <string>WhisperDesktopDictate</string>
    <key>CFBundleIconFile</key>
    <string>WhisperDesktopDictate.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.10.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
